@media screen and (max-width: 468px) {

  .mainNav {
    text-align: center;
  }

  .mainNav nav {
      background: #EB4123;
      margin: 0px;
      width: 100%;
  }

  .mainNav img {
    width: 0px;
    margin: 0px;
  }

}
