body {
  font-family: 'Comfortaa', cursive;
}

button {
  font-family: 'Comfortaa', cursive;
}

.mainNav {
  background: #EB4123;
}

.logo {
  margin: 15px;
}

nav {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

.nav-btn {
  font-size: 15px;
  background: none;
  border: none;
  color: white;
  padding: 20px;
}

.searchBar {
  position: relative;
  top: -15px;
  background: pink;
  transition: all 1s;
}

.searchBar-active  {
  top: 0px;
  background: blue;
  transition: translateY(50px);
}

.subNav {
  background: #BDBDBD;
  text-align: center;
}

.subNav-btn {
  font-size: 12px;
  background: none;
  border: none;
  color: #F3F3F3;
  padding: 10px;
}

.img {
  width: 400px;
}
